html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-image: url(../images/background.png);
    background-size: 100% 400%;
}

#menu {
    height: 90%;
    width: 300px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    align-self: center;
    margin-left: 15px;
}

#home {}

#services {}

#portfolio {}

#contact {}

#page > div {
    height: 100%;
    width: 100%;
    display: flex;
}

#page {
    height: 100%;
}
