@font-face {
    font-family: 'futurist';
    src: url('../fonts/FUTRFW.TTF');
}
@font-face {
    font-family: 'futuristbold';
    src: url('../fonts/futuristbold.ttf');
}

@font-face {
    font-family: 'mermaid';
    src: url('../fonts/mermaid.ttf');
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    color: #fff;
    min-height: 890px;
}

body {
    background-image: url(../images/background.png);
    background-size: 100% 400%;
}

#page {
    height: 400%;
}

#home {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#hidden_menu {
/*    display: none;*/
    height: 900px;
    width: 300px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto 0;
    position: absolute;
    top: 50vh;
    left: -350px;
    transform: translate(-0%, -50%);
    
}

#hamburger_menu {
    margin: 60px 0 0 50px;
    width: 35px;
}

#hamburger_menu div {
/*    display: none;*/
    background-color: #fff;
    height: 4px;
    border-radius: 50px;
    margin-bottom: 10px;
}

#hamburger_menu div:nth-child(1) {
    width: 35px;
}

#hamburger_menu div:nth-child(2) {
    width: 15px;
}

#hamburger_menu div:nth-child(3) {
    width: 27px;
}

#titles {
    margin-top: 90px;
    align-self: center;
    text-align: center;
}

#name {
    font-family: 'futurist';
    font-weight: 100;
    letter-spacing: -6px;
    font-size: 100px;
    margin-bottom: 90px;
}
 
#slogan {
    font-size: 70px;
    font-family: 'mermaid';
}

#fleche {
    align-self: center;
    margin-top: 200px;
    display: flex;
    width: 100px;
    justify-content: center;
}

#trait1,
#trait2 {
    height: 50px;
    width: 6px;
    background-color: #fff;
    border-radius: 50px;
}

#trait1 {
    transform: rotate(-55deg);
    transform-origin: bottom;
    position: relative;
    left: 5px;
}

#trait2 {
    transform: rotate(55deg);
    transform-origin: bottom;
    position: relative;
    right: 5px;
}

#star {
    width: 250px;
    margin-top: 12px;
}